@model Exception

@{
    ViewBag.Title = "Error";
}

<h3 class="width95" style="color:red;margin: 0 auto;">
    An error was encountered while processing your request
    Please contact system administrator detailing about the error and the steps that causes it.
</h3>