@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<div class="dashboard">
    <div class="dashboard3Col">
        <div class="dashboardCol">
            <div class="dashboardItem">
                <div class="dashboardItemHeader">New Member</div>
                <div class="dashboardItemBody">
                    <table class="tbl">
                        <thead>
                            <tr>
                                <th>Name : John Smith</th>
                                
                                <th>Age : 56</th>
                                <th>Gender : Male</th>
                            </tr>
                            <tr>
                                <th>Projects : Floristry</th>
                            </tr>
                            <tr>
                                <th colspan="3">Notes : John has back problem and may need assistance</th>
                            </tr>
                            <tr>
                                <th>Createb By : Tim Spencer</th>
                                <th>Date Created : 21/01/2013</th>
                            </tr>
                            <tr>
                                <th colspan="3" style="border: solid 1px black"></th>
                            </tr>
                            <tr>
                                <th>Name : Peter Parker</th>
                                
                                <th>Age : 46</th>
                                <th>Gender : Male</th>
                            </tr>
                            <tr>
                                <th>Projects : IT - Ms Word</th>
                            </tr>
                            <tr>
                                <th colspan="3">Notes : John has lower back problem and may need assistance</th>
                            </tr>
                            <tr>
                                <th>Createb By : Tim Spencer</th>
                                <th>Date Created : 21/01/2013</th>
                            </tr>
                            <tr>
                                <th colspan="3" style="border: solid 1px black"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="dashboardItem">
                <div class="dashboardItemHeader">Barred Member</div>
                <div class="dashboardItemBody">
                    <table class="tbl">
                        <thead>
                            <tr>
                                <th>Name : Peter Parker</th>
                                
                                <th>Age : 28</th>
                                <th>Gender : Male</th>
                            </tr>
                            <tr>
                                <th>Projects : Floristry</th>
                            </tr>
                            <tr>
                                <th colspan="3">Notes : John has not seen since last 3 weeks</th>
                            </tr>
                            <tr>
                                <th>Createb By : Tim Spencer</th>
                                <th>Date Created : 21/01/2013</th>
                            </tr>
                            <tr>
                                <th colspan="3" style="border: solid 1px black"></th>
                            </tr>
                            <tr>
                                <th>Name : Peter Parker</th>
                                
                                <th>Age : 46</th>
                                <th>Gender : Male</th>
                            </tr>
                            <tr>
                                <th>Projects : IT - Ms Word</th>
                            </tr>
                            <tr>
                                <th colspan="3">Notes : John has been barred</th>
                            </tr>
                            <tr>
                                <th>Createb By : Tim Spencer</th>
                                <th>Date Created : 21/01/2013</th>
                            </tr>
                            <tr>
                                <th colspan="3" style="border: solid 1px black"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            
        </div>
        <div class="dashboardCol">
            <div class="dashboardItem">
                <div class="dashboardItemHeader">Alerts</div>
                <div class="dashboardItemBody">
                    <div>
                        <span>Name : Mr Joe Smith</span><br/>
                        <span>Notes : He has reported sick today and will be absent</span>
                        <br/>
                        <span>Created By : Steve Nobles</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>Date Created : 22/10/2013</span>
                    </div>
                    <div style="border: solid 1px grey;margin-top:5px;"></div>
                    <div>
                        <span>Name : Mr Joe Smith</span><br/>
                        <span>Notes : He has reported sick today and will be absent</span>
                        <br/>
                        <span>Created By : Steve Nobles</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>Date Created : 22/10/2013</span>
                    </div>
                    <div style="border: solid 1px grey;margin-top:5px;"></div>
                    <div>
                        <span>Name : Mr Joe Smith</span><br/>
                        <span>Notes : He has reported sick today and will be absent</span>
                        <br/>
                        <span>Created By : Steve Nobles</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>Date Created : 22/10/2013</span>
                    </div>
                    <div style="border: solid 1px grey;margin-top:5px;"></div>
                    <div>
                        <span>Name : Mr Joe Smith</span><br/>
                        <span>Notes : He has reported sick today and will be absent</span>
                        <br/>
                        <span>Created By : Steve Nobles</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>Date Created : 22/10/2013</span>
                    </div>
                    <div style="border: solid 1px grey;margin-top:5px;"></div>
                </div>
            </div>
            <div class="dashboardItem" style="margin-top: 30px;">
                <div class="dashboardItemHeader">Find Members</div>
                <div class="dashboardItemBody">
                    <div style="margin-top:2px;width:100%;float:left;border: solid 0px black">
                        <div style="margin-top:2px;float:left">
                            <input type="text"/>
                        </div>
                        <div style="margin-top:2px;float:left;margin-left:2px;">
                            <button value="Barred Members">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
@*        <div class="dashboardCol">
            <div class="dashboardItem">
                <div class="dashboardItemHeader">New Users</div>
                <div class="dashboardItemBody">
                    ASDFGHJKL  
                </div>
            </div>
        </div>*@
        <div class="dashboardFooter"></div>
    </div>
</div>